header a {
  color: black;
  text-decoration: none;
  text-decoration: none;
}
header a:hover {
  color: currentColor;
  text-decoration: none;
}
header ul {
  list-style: none;
  margin: 0;
}
header .headerBunner {
  background-color: #1b3d79;
  color: white;
  font-size: 14px;
}
header .headerBunner a {
  color: white;
}
header .headerBunner a:hover {
  color: #0970e6;
}
header .headerBunner .HeaderBunnerRight ul li {
  margin: 0 10px;
}
header .headerBunner .HeaderBunnerRight ul li a {
  padding-right: 20px;
  border-right: 1px solid white;
  transition: color 0.4s;
}
header .headerBunner .HeaderBunnerRight ul li a:hover {
  color: #0970e6;
}
header .header-logo a img {
  width: 200px;
}
header .search-bar-container {
  max-width: 836px;
  width: 50%;
}
header .search-bar-container .searchForm {
  max-width: 100%;
}
header .search-bar-container .searchForm .Search {
  width: 80%;
}
header .search-bar-container .searchForm .SearchBar {
  padding: 7px 10px 7px 10px;
  color: #929292;
  border: 1px solid #d2d2d2;
  border-radius: 50px;
}
header .paybackBadge {
  line-height: 1;
}
header .paybackBadge .payback-top {
  font-size: 12px;
  color: #4c6696;
}
header .paybackBadge .payback-bottom {
  color: #0970e6;
  font-size: 18px;
  font-weight: bold;
}
header .minicart a i {
  font-size: 25px;
  margin-right: 10px;
  color: #0970e6;
}
header .headerNavRight {
  font-size: 17px;
}
header .headerNavRight li {
  margin-right: 25px;
}
header .headerNavRight li a {
  color: #0e3368;
  transition: color 0.4s;
}
header .headerNavRight li a:hover {
  color: #0970e6;
}

footer {
  border-top: 2px solid #748293;
  background: #f7f7f7;
}
footer .service {
  width: 1519px;
}
footer .service h2 {
  color: #34537f;
}
footer .service .app {
  width: 100%;
  height: 235, 75px;
  background: linear-gradient(to bottom, #e0e9f4 0%, #c7dbf3 100%);
  border-radius: 20px;
}
footer .service .app img {
  width: 268px;
}
footer .service .app h4 {
  font-weight: 700;
}
footer .service .app .img-app img {
  width: 152px;
}
footer .service .shipping ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
footer .service .shipping ul li {
  width: 100%;

footer .service .shipping ul li a {
  text-decoration: none;
}
footer .service .shipping ul li a .card {
  flex-direction: inherit;
  padding: 25px 20px 25px 20px;
  border: 2px solid #d3e3f5;
  border-radius: 10px;
}
footer .service .shipping ul li a .card img {
  width: 45px;
  margin-right: 10px;
}
footer .service .shipping ul li a .card h6, footer .service .shipping ul li a .card span {
  margin-bottom: 0;
  color: #0e3368;
}
footer .asset-content {
  padding: 30px 0 30px 0;
  background: #e6f1fc;
  width: 100%;
  display: flex;
  justify-content: center;
}
footer .asset-content .asset-container {
  width: 1460px;
}
footer .asset-content .asset-container ul {
  width: 100%;
  list-style-type: none;
  justify-content: space-between;
  padding: 0;
  margin-bottom: 0;
  align-items: baseline;
}
footer .asset-content .asset-container ul li {
  text-decoration: none;
}
footer .asset-content .asset-container ul li a {
  display: flex;
}
footer .asset-content .asset-container ul li a img {
  width: 30px;
  margin-right: 15px;
}
footer .asset-content .asset-container ul li a h6 {
  text-transform: uppercase;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  color: #0e3368;
}